[Desktop Entry]
Name=Cosmic Ext Applet Screen Sharing
Comment=COSMIC applet for screen sharing to wired displays and wireless (FCast) receivers
Type=Application
Icon=io.github.nalladev.CosmicExtAppletScreenSharing
Exec=cosmic-ext-applet-screen-sharing %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
